
* {
  box-sizing: border-box;
  min-width:0;
  min-height: 0 ;
  oveflow: hidden;

}
@font-face{
  font-family:'Mont';
  src: url('./fonts/Montserrat-Bold.ttf')
}
.App {
 
  text-align: center;

}
.scroll {
  position: absolute;
  width: 100vw;
  height: 400vh;
  overflow-y: auto;
  top: 0;
  left: 0;
}
.bottom{
  flex: 1;
  flexDirection: row;
  justifyContent: 'space-between'
}
.Loader .gg {
  position:absolute;
  display:block;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%)
 }



body{
  background-color: pink;

}
